<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>start</string>
		<key>name</key>
		<string>导言</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter1.png</string>
		<key>name</key>
		<string>第一课：球形</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter2.png</string>
		<key>name</key>
		<string>第二课：重叠的球</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter3.png</string>
		<key>name</key>
		<string>第三课：更多排列的球</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter4.png</string>
		<key>name</key>
		<string>第四课：立方体</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter5.png</string>
		<key>name</key>
		<string>第五课：空心立方体</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter6.png</string>
		<key>name</key>
		<string>第六课：堆放的桌子</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter7.png</string>
		<key>name</key>
		<string>第七课：堆放更多的立方体</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter8.png</string>
		<key>name</key>
		<string>第八课：好爽的考拉</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter9.png</string>
		<key>name</key>
		<string>第九课：玫瑰</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter10.png</string>
		<key>name</key>
		<string>第十课：圆柱体</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter11.png</string>
		<key>name</key>
		<string>第十一课：互相重叠的圆柱体</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter12.png</string>
		<key>name</key>
		<string>第十二课：用立方体构建物体</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter13.png</string>
		<key>name</key>
		<string>第十三课：相连接的房子</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter14.png</string>
		<key>name</key>
		<string>第十四课：百合花</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter15.png</string>
		<key>name</key>
		<string>第十五课：管状物</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter16.png</string>
		<key>name</key>
		<string>第十六课：波浪</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter17.png</string>
		<key>name</key>
		<string>第十七课：舞动的旗帜</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter18.png</string>
		<key>name</key>
		<string>第十八课：卷纸</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter19.png</string>
		<key>name</key>
		<string>第十九课：金字塔</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter20.png</string>
		<key>name</key>
		<string>第二十课：火山，火山口和咖啡杯</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter21.png</string>
		<key>name</key>
		<string>第二十一课：树木</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter22.png</string>
		<key>name</key>
		<string>第二十二课：用一点透视画房间</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter23.png</string>
		<key>name</key>
		<string>第二十三课：用一点透视画城市</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter24.png</string>
		<key>name</key>
		<string>第二十四课：用两点透视画塔</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter25.png</string>
		<key>name</key>
		<string>第二十五课：用两点透视画城堡</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter26.png</string>
		<key>name</key>
		<string>第二十六课：用两点透视画城市</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter27.png</string>
		<key>name</key>
		<string>第二十七课：用两点透视画字母</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter28.png</string>
		<key>name</key>
		<string>第二十八课：人脸</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter29.png</string>
		<key>name</key>
		<string>第二十九课：富有灵感的眼睛</string>
	</dict>
	<dict>
		<key>image</key>
		<string>chapter30.png</string>
		<key>name</key>
		<string>第三十课：富有创造力的手</string>
	</dict>
	<dict>
		<key>image</key>
		<string>end</string>
		<key>name</key>
		<string>后记</string>
	</dict>
</array>
</plist>
