<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>成功绘画ABC：为自己加油，“我能做这件事”的积极态度，是学好任何一种新技巧的关键</string>
	<string>成功绘画ABC：额外细节：把你自己独特的想法和观察到的细节放入画中，使它真正成为你自己的表达</string>
	<string>成功绘画ABC：不断实践：每天重复运用新的技巧，是成功掌握这种技巧的关键</string>
	<string>绘画9大法则之压缩：扭曲物体，以产生其某部分比较接近您眼睛的错觉</string>
	<string>绘画9大法则之位置：把物体位置画于较低的位置，以表示物体比较接近您的眼睛</string>
	<string>绘画9大法则之尺寸：把物体画的大一些，以表示物体比较接近您的眼睛</string>
	<string>绘画9大法则之重叠：把一个物体画在另外一个物体前面，以产生它比较接近您眼睛的错觉</string>
	<string>绘画9大法则之阴影：把一个物体背着光源的部分画的深一些，以产生深度的错觉</string>
	<string>绘画9大法则之投影：把一个物体背着光源近处的地面画得深些，以产生深度的错觉</string>
	<string>绘画9大法则之轮廓线：画出一个包住物体的曲线，给其体积感和深度感</string>
	<string>绘画9大法则之水平先：画一条水平参考线，以区分画面中不同物体与你视线之间的距离</string>
	<string>绘画9大法则之密度：把物体画的亮一些，细节少一些，以产生距离上的错觉</string>
</array>
</plist>
